.tile {
  user-select: none;
  cursor: default;
}
.tile {
  position: absolute;
}
.tile.merged {
  display: none;
}
.tile.merged.isMoving {
  display: inline-flex;
}
.tile.new {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}
@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@for $row from 0 through 3 {
  @for $column from 0 through 3 {
    @media (width < 640px) {
      .position_#{$row}_#{$column}:not(.isMoving) {
        top: $row * 5rem;
        left: $column * 5rem;
      }
    }
    @media (640px <= width) {
      .position_#{$row}_#{$column}:not(.isMoving) {
        top: $row * 8.5rem;
        left: $column * 8.5rem;
      }
    }
  }
}
@for $fromRow from 0 through 3 {
  @for $toRow from 0 through 3 {
    $name: row_from_#{$fromRow}_to_#{$toRow};

    @media (width < 640px) {
      @if $fromRow == $toRow {
        .#{$name} {
          top: $toRow * 5rem;
        }
      } @else {
        .#{$name} {
          animation-duration: 0.2s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }

        @keyframes #{$name} {
          from {
            top: $fromRow * 5rem;
          }
          to {
            top: $toRow * 5rem;
          }
        }
      }
    }
    @media (640px <= width) {
      @if $fromRow == $toRow {
        .#{$name} {
          top: $toRow * 8.5rem;
        }
      } @else {
        .#{$name} {
          animation-duration: 0.2s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }

        @keyframes #{$name} {
          from {
            top: $fromRow * 8.5rem;
          }
          to {
            top: $toRow * 8.5rem;
          }
        }
      }
    }
  }
}
@for $fromColumn from 0 through 3 {
  @for $toColumn from 0 through 3 {
    $name: column_from_#{$fromColumn}_to_#{$toColumn};

    @media (width < 640px) {
      @if $fromColumn == $toColumn {
        .#{$name} {
          left: $toColumn * 5rem;
        }
      } @else {
        .#{$name} {
          animation-duration: 0.2s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }

        @keyframes #{$name} {
          from {
            left: $fromColumn * 5rem;
          }
          to {
            left: $toColumn * 5rem;
          }
        }
      }
    }
    @media (640px <= width) {
      @if $fromColumn == $toColumn {
        .#{$name} {
          left: $toColumn * 8.5rem;
        }
      } @else {
        .#{$name} {
          animation-duration: 0.2s;
          animation-name: $name;
          animation-fill-mode: forwards;
        }

        @keyframes #{$name} {
          from {
            left: $fromColumn * 8.5rem;
          }
          to {
            left: $toColumn * 8.5rem;
          }
        }
      }
    }
  }
}
