.tile {
  user-select: none;
  cursor: default;
}
.tile {
  position: absolute;
}
.tile.merged {
  display: none;
}
.tile.merged.isMoving {
  display: inline-flex;
}
.tile.new {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}
@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
